
.form-container {
    padding: 5px;
    padding-bottom: 30px;
    margin: 5px auto;
    max-width: 645px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.15);
}

.form-group{
    /*background-color:aquamarine;*/
}

.form-container h3 {
    width: 100%;
    background-color: #2e2e2e;
    color: #fff;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
}

.form-container .form-sub-container{
    margin: 30px auto;
    width: 95%;
}
.table h3 {
    width: 100%;
    background-color: #2e2e2e;
    color: #fff;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
}
